.instafeed-section {
  padding-top: 80px;
}

.instafeed {
    padding-top: 8px;
    padding-bottom: 100px;
    @include tablet {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include mobile {
      padding: 30px 0;
    }
    .row {
      margin-left: 8px;
      margin-right: 8px;
    }
    .instacolumn {
      padding-left: 6px;
      padding-right: 6px;
    }
    &-item {
      margin-bottom: 15px;
      position: relative;
      @include mobile {
        margin-bottom: 8px;
      }
      div {
        border-radius: 3px;
        background: url() center center / cover no-repeat;
        a {
          display: block;
          padding-bottom: 100%;
        }
        &.video a:before {
          content: "";
          background: url(https://profilepageimages.usecue.com/img/play.svg) center center / 45% auto no-repeat;
          width: 32px;
          height: 32px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }
        &.carousel_album a:before {
          content: "";
          background: url(https://profilepageimages.usecue.com/img/carousel.svg) center center / 50% auto no-repeat;
          width: 32px;
          height: 32px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }
        &:hover {
          filter: brightness(80%);
        }
        &:hover a::after {
          content: "";
          background: url(https://profilepageimages.usecue.com/img/interact.svg) center center / auto 19px no-repeat;
        }
        img {
          display: none;
        }
      }
    }
  }
  