
{{ $js := resources.Get "js/jquery.min.js" }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/bootstrap.min.js" }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/aos.js" }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/match-height.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/magnific-popup.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/slick.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>

{{ $js := resources.Get "js/script.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script>

<!-- {{ $js := resources.Get "js/instafeed.js" | minify }}
<script src="{{ $js.RelPermalink }}"></script> -->
