{{ with index .Site.Data.hero .Site.Language.Lang }}
  <section class="hero" style="background-image: url( '{{ .hero.heroBGimg | relURL }}' );">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="hero-content">
            <h1>{{.hero.title | safeHTML}}</h1>
            <p>
              {{.hero.subtitle}}
            </p>

            <div>
              <ul class="social-media">
                <li class="social-media-item"><a href="{{ site.Params.address.facebookurl }}" class="social-media-item-link"><img src="{{ site.Params.address.facebookicon | relURL }}" alt="facebook" /></a></li>
                <li class="social-media-item"><a href="{{ site.Params.address.instagramurl }}" class="social-media-item-link"><img src="{{ site.Params.address.instagramicon | relURL}}" alt="instagram" /></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{{end}}
